body{
    background-color: rgba(0, 102, 255, 0.322);
    display: flex;
    align-items: center;
    justify-content: center;
    

    height: 100vh;
}
header{
    font-style: italic;
    color: rgba(255, 0, 13, 0.897);
}
.form-control mb-4{

    color: aqua;
}